import("MASS")
importFrom("combinat", combn)

export(b.scal, betascale, calc.trans, centerlines, classscatter, cond.index, dkernel,
    drawparti, e.scal, EDAM, errormatrix, friedman.data, hmm.sop, loclda, NaiveBayes,
    partimat, plineplot, shardsplot, level_shardsplot,
    quadtrafo, quadlines, quadpoints, quadplot,
    rda, nm, sknn, stepclass, svmlight, meclight, TopoS,
    tritrafo, trilines, tripoints, trigrid, triframe, triplot, triperplines,
    ucpm, benchB3, greedy.wilks, locpvs, pvs, corclust, kmodes, woe)

S3method(NaiveBayes, formula)
S3method(NaiveBayes, default)
S3method(partimat, formula)
S3method(partimat, default)
S3method(partimat, matrix)
S3method(partimat, data.frame)
S3method(plot, EDAM)
S3method(plot, NaiveBayes)
S3method(predict, NaiveBayes)
S3method(rda, formula)
S3method(rda, default)
S3method(predict, rda)
S3method(print, rda)
S3method(plot, rda)
S3method(sknn, default)
S3method(sknn, formula)
S3method(sknn, matrix)
S3method(sknn, data.frame)
S3method(predict, sknn)
S3method(woe, formula)
S3method(woe, default)
S3method(predict, woe)
S3method(print, woe)
S3method(plot, woe)
S3method(nm, default)
S3method(nm, formula)
S3method(nm, matrix)
S3method(nm, data.frame)
S3method(meclight, default)
S3method(meclight, formula)
S3method(meclight, matrix)
S3method(meclight, data.frame)
S3method(predict, meclight)
S3method(print, meclight)
S3method(stepclass, formula)
S3method(stepclass, default)
S3method(print, stepclass)
S3method(plot, stepclass)
S3method(svmlight, default)
S3method(svmlight, formula)
S3method(svmlight, matrix)
S3method(svmlight, data.frame)
S3method(predict, svmlight)
S3method(greedy.wilks, default)
S3method(greedy.wilks, formula)
S3method(print, greedy.wilks)
S3method(loclda, formula)
S3method(loclda, default)
S3method(loclda, matrix)
S3method(loclda, data.frame)
S3method(predict, loclda)
S3method(print, loclda)
S3method(predict, locpvs)
S3method(predict, pvs)
S3method(print, pvs)
S3method(pvs, default)
S3method(pvs, formula)
S3method(print, kmodes)
